html, * {
    font-family: 'Roboto Mono', monospace !important;
}

nav {
    font-size: 27px;
}

#current-time {
    font-size: 20px;
    padding: 12px;
}

#prev-search {
    display: none;
}

#current-weather {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: #00d1b2;
    box-shadow: 3px 3px 10px #333;
    margin: 0 90px;
}

#current-weather h1 {
    flex: 0 0 100%;
    text-align: center;
    justify-content: center;
}

#current-weather h2 {
    flex: 0 0 100%;
    text-align: center;
    justify-content: center;
    font-size: 45px;
    font-weight: bolder;
    padding: 0;
}

#current-weather img {
    width: 100px;
    height: 100px;
}

#current-weather:hover {
    background-color: lightgrey;
    transition: 200ms ease-in-out;
    border-radius: 50%;
}

#song-recommendation {
    font-size: 25px;
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    padding: 30px 30px 20px 30px;
}

#artist-bio {
    font-size: 14px;
}

footer a {
    color: #00d1b2;
}

@media screen and (max-width:1280px) {
    #current-weather {
        margin: 0 auto 20px auto;
        height: 300px;
        width: 300px;
    }

    footer {
        font-size: 10px;
    }

    #song-recommendation {
        width: 50%;
        margin: 0 auto 20px auto;
    }
}

@media screen and (max-width:768px) {
    #song-recommendation {
        width: 100%;
        margin: 0;
    }

    #current-time {
        font-size: 14px;
    }
}